<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/admin.css">
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="shadow h-100" id="side-bar">
                <div id="logo">
                    <a href="#">
                        <img src="../public/img/brand-admin.svg" alt="Nigamon Logo">
                    </a>
                </div>
                <div class="d-flex justify-content-between align-items-center mx-2" id="admin-account">
                    <p id="account-name">leHauBoi@gmail.com</p>
                    <p id="sign-out"><a href="#"><i class="fas fa-sign-out-alt    "></i></a></p>
                </div>

                <nav class="mx-4 my-4">
                    <ul id="menu">
                        <li class="active-option">
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <p class="mr-4"><i class="fa fa-home" aria-hidden="true"></i></p>
                                    <p>Trang chính</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <p class="mr-4"><i class="fa fa-film" aria-hidden="true"></i></p>
                                    <p>Phim</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <p class="mr-4"><i class="fas fa-warehouse    "></i></p>
                                    <p>Rạp</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <p class="mr-4"><i class="fas fa-ticket-alt    "></i></p>
                                    <p>Vé</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <p class="mr-4"><i class="fas fa-drumstick-bite    "></i></p>
                                    <p>Thức ăn</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <p class="mr-4"><i class="fas fa-shopping-cart    "></i></p>
                                    <p>Đơn hàng</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="" id="content">
                <div class="section-container mx-5">
                    <header class="section-header">
                        <div class="vertical-line"></div>
                        <h3>Title</h3>
                    </header>
                    <table class="section-items">
                        <thead>
                            <td class="text-algin-start">ID</td>
                            <td>Movie Name</td>
                            <td>Director</td>
                            <td class="text-align-center">Length</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Movie</td>
                                <td>Director Name</td>
                                <td class="text-align-center">02:00</td>
                                <td class="text-align-end"><a href="#">Config</a> / <a href="#">Remove</a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Movie</td>
                                <td>Director Name</td>
                                <td class="text-align-center">02:00</td>
                                <td class="text-align-end"><a href="#">Config</a> / <a href="#">Remove</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>