<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>

    <!-- Bootstrap related -->
    <link rel="stylesheet" href="/libs/fontawesome/fontawesome-free-5.8.2-web/css/all.min.css">

    <!-- Other utilities  -->
    <link rel="stylesheet" href="/fonts/roboto.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <div id="app-container"></div>
</body>

<script src="/dist/admin/main.js"></script>

</html>