<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a982da321b.js"></script>

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;subset=vietnamese"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />

    <link rel="icon" href="/img/favicon.ico" />

    <title>Nigamon Cinema</title>
  </head>

  <body>
    <!-- header -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-sm-12 py-1">
          <a href="/">
            <img class="img-fluid" src="/img/logo_dual.png" />
          </a>
        </div>
        <div class="col-lg-1 col-sm-12"></div>
        <div class="col-lg-3 col-sm-6 py-3">
          <form class="form form-normal">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="input-search"
                placeholder="Tên phim, rạp"
              />
              <div class="input-group-append">
                <button type="button" class="btn btn-link" id="btn-search">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-4 col-sm-6 py-3 text-center">
          <a class="btn btn-link" id="btn-card" href="/giohang">
            <i class="fas fa-shopping-cart"></i>
          </a>
          <button
            type="button"
            class="btn btn-link font-weight-bold"
            data-toggle="modal"
            data-target="#modalDN"
            id="btn-dangnhap"
          >
            <span>Đăng nhập</span>
          </button>
          <button
            type="button"
            class="btn btn-link font-weight-bold"
            data-toggle="modal"
            data-target="#modalDK"
            id="btn-dangky"
          >
            <span>Đăng ký</span>
          </button>
        </div>
      </div>
    </div>

    <!-- bar -->
    <div class="container-fluid py-2 black-background">
      <div class="row">
        <div class="col-sm-4 text-center">
          <a class="btn btn-link font-weight-bold btn-bar" href="/phim">
            PHIM
          </a>
        </div>
        <div class="col-sm-4 text-center">
          <a class="btn btn-link font-weight-bold btn-bar" href="/rap">
            RẠP CHIẾU PHIM
          </a>
        </div>
        <div class="col-sm-4 text-center">
          <a class="btn btn-link font-weight-bold btn-bar" href="/support">
            HỖ TRỢ
          </a>
        </div>
      </div>
    </div>

    <!-- danh sach phim -->
    <div id="display"></div>

    <!-- pagination -->
    <div class="container my-3 text-center">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-link font-weight-bold btn-link-normal"
          id="page-left-2"
        >
          <i class="fas fa-angle-double-left"></i>
        </button>
        <button
          type="button"
          class="btn btn-link font-weight-bold btn-link-normal"
          id="page-left-1"
        >
          <i class="fas fa-angle-left"></i>
        </button>
        <button
          type="button"
          class="btn btn-link font-weight-bold btn-link-normal"
          id="page-right-1"
        >
          <i class="fas fa-angle-right"></i>
        </button>
        <button
          type="button"
          class="btn btn-link font-weight-bold btn-link-normal"
          id="page-right-2"
        >
          <i class="fas fa-angle-double-right"></i>
        </button>
      </div>
    </div>

    <!-- footer -->
    <div class="container-fluid py-3 black-background" id="footer">
      <div class="row">
        <div class="col-md-2 d-flex flex-row-reverse">
          <div class="vertical-line"></div>
        </div>
        <div class="col-md-4 white-text">
          <h3 class="font-weight-bold">Nigamon Cinema</h3>
          <br />
          <p>
            <span class="font-weight-bold">Trụ sở: </span>154 / 12 Nguyễn Kim,
            Phường 6, Quận 10, TP.HCM
          </p>
          <p>
            <span class="font-weight-bold">Số điện thoại: </span>0123 456 789
          </p>
          <p>
            <span class="font-weight-bold">Email: </span
            >contact@cinema.nigamon.com.vn
          </p>
        </div>
        <div class="col-md-1 d-flex flex-row-reverse">
          <div class="vertical-line"></div>
        </div>
        <div class="col-md-5 text-center white-text">
          <h3><strong>Kết nối với chúng tôi</strong></h3>
          <br />
          <button type="button" class="mr-2 btn btn-dark btn-social">
            <i class="fab fa-facebook fa-2x"></i>
          </button>
          <button type="button" class="mr-2 btn btn-dark btn-social">
            <i class="fab fa-instagram fa-2x"></i>
          </button>
          <button type="button" class="mr-2 btn btn-dark btn-social">
            <i class="fab fa-twitter fa-2x"></i>
          </button>
          <button type="button" class="mr-2 btn btn-dark btn-social">
            <i class="fab fa-youtube fa-2x"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- modal dang nhap -->
    <div class="modal fade" id="modalDN">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <img class="img-fluid" src="/img/logo.jpeg" />
            </div>

            <h4 class="py-3 text-center font-weight-bold">
              Đăng nhập vào hệ thống
            </h4>
            <form>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <input
                    type="email"
                    class="form-control input-normal"
                    placeholder="Email"
                    name="emailDN"
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <input
                    type="password"
                    class="form-control input-normal"
                    placeholder="Password"
                    name="passwordDN"
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <a>
                    Quên mật khẩu
                  </a>
                </div>
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-normal">
                  Đăng nhập
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- modal dang ky -->
    <div class="modal fade" id="modalDK">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <img class="img-fluid" src="/img/logo.jpeg" />
            </div>
            <h4 class="py-3 text-center font-weight-bold">
              Tạo tài khoản mới
            </h4>
            <form>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control input-normal"
                    placeholder="Tên"
                    name="nameDK"
                  />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <input
                    type="email"
                    class="form-control input-normal"
                    placeholder="Email"
                    name="emailDK"
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <input
                    type="password"
                    class="form-control input-normal"
                    placeholder="Password"
                    name="passwordDK"
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <input
                    type="password"
                    class="form-control input-normal"
                    placeholder="Password again"
                    name="password2DK"
                  />
                </div>
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-normal">
                  Đăng ký
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap js-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/user_views/phim.js"></script>
  </body>
</html>
