body {
  font-family: "Roboto Condensed", sans-serif;
}

#input-search,
#btn-search {
  border: 1px solid transparent;
  color: #2d7ff9;
}

#btn-card,
#btn-dangnhap,
#btn-dangky {
  color: #2d7ff9;
  text-decoration: none;
}

.black-background {
  background-color: #212121;
}

.white-text {
  color: white;
}

.form-normal,
.input-normal {
  border: 1px solid #2d7ff9;
  border-radius: 0px;
}

.btn-bar {
  color: white !important;
  text-decoration: none !important;
}

.btn-normal {
  background-color: #2d7ff9;
  border: 1px solid #2d7ff9;
  border-radius: 0px;
}

.btn-normal:hover {
  background-color: transparent;
  border: 1px solid #2d7ff9;
  border-radius: 0px;
  color: #2d7ff9;
}

.btn-link-normal {
  color: #2d7ff9;
}

.btn-social {
  background-color: #212121;
  border: 1px solid transparent;
}

.card-normal {
  border: 1px solid #2d7ff9;
  border-radius: 0px;
}

.img-normal {
  border-radius: 0px;
}

.vertical-line {
  width: 0.5vw;
  height: 8vh;
  background-color: #2d7ff9;
}

.horizontal-line {
  width: 8vw;
  height: 0.5vh;
  background-color: #2d7ff9;
}
