body {
  font-family: "Roboto Condensed", sans-serif;
}

#input-search,
#btn-search {
  border: 1px solid transparent;
  color: #2d7ff9;
}

#btn-card,
#btn-dangnhap,
#btn-dangky {
  color: #2d7ff9;
}

.black-background {
  background-color: #212121;
}

.white-text {
  color: white;
}

.form-normal,
.input-normal {
  border: 1px solid #2d7ff9;
  border-radius: 0px;
}

.btn-bar {
  color: white;
}

.btn-bar:hover {
  color: #2d7ff9;
}

.btn-normal {
  background-color: #2d7ff9;
  border: 1px solid #2d7ff9;
  border-radius: 0px;
}

.btn-normal:hover {
  background-color: transparent;
  border: 1px solid #2d7ff9;
  border-radius: 0px;
  color: #2d7ff9;
}

.btn-normal-inactive {
  background-color: grey;
  border: 1px solid grey;
  border-radius: 0px;
}

.btn-normal-inactive:hover {
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 0px;
  color: grey;
}

.btn-link-normal {
  color: #2d7ff9;
}

.btn-link-normal-inactive {
  color: grey;
}

.btn-social {
  background-color: #212121;
  border: 1px solid transparent;
}

.card-normal {
  border: 1px solid #2d7ff9;
  border-radius: 0px;
}

.img-normal {
  border-radius: 0px;
}

.text-normal {
  color: #2d7ff9;
}

.wrap-normal {
  border: 1px solid #2d7ff9;
  border-radius: 0px;
}

.wrap-inside-normal {
  margin-top: -12px;
  background-color: white;
}

.td-normal {
  color: #2d7ff9;
}

.td-normal-active {
  background-color: #2d7ff9;
  color: white;
}

.vertical-line {
  width: 0px;
  height: 48px;
  border: 4px solid #2d7ff9;
}

.horizontal-line {
  width: 48px;
  height: 0px;
  border: 4px solid #2d7ff9;
}

.shadow {
  border: 1px solid #2d7ff9;
  border-radius: 0px;
}

.shadow .samurai {
  opacity: 1;
}

.shadow .ninja {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shadow:hover .samurai {
  opacity: 0.2;
  filter: blur(4px);
}

.shadow:hover .ninja {
  opacity: 1;
}
